body{
	font-family:arial;
	padding: 5%;
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/b9/71/8f/b9718fe8dc4dd7ba217593ef0e768392.jpg");

	}

.container{
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #FFF1E8;
	border:solid #5E4E41;
	border-width: 10px;

}


.picture{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

h1{
	text-align: center;
	font-size: 32px;
	color:#5E4E41;
}


h2{
	font-size: 14px;
	display: inline;
	font-weight: normal;
}



h4{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1px;
	color: #5E4E41;
}

h3{
	font-size: 20px;
	text-align: center;
}

h5{
	font-size: 14px;
	font-weight: normal;
}


.relevant-content h2{
	font-size: 14px;
	font-style: normal;
}


.relevant-content ul{
	list-style:none;
}

.relevant-content a{
	color: #BDADA0;
	text-decoration: none;
}

.time{
	font-size: 12px;
	display: inline;
}

.skills{
	line-height: 1px;

}

.skills h5 ul li{
	display: inline;
}


.education{
	font-size: 14px;
}

.languages{
	font-size: 14px;
	line-height: 20px;
}

.education ul{
	list-style: none;
}

.education .school{
	font-weight: bold;
	display: inline;
	font-size: 12px;
}

.education .degree{
	display:inline;
	font-size: 14px;
}

.social-media{
	text-align: center;
	color:green;
}

#handle{
	width:5%;
}

.contact a{
	color: #BDADA0;
	text-decoration: none;
}